*{
  user-select: none;
}

.App{
  font-family: sans-serif;
  text-align: center;
}

button{
  background-color: maroon;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  margin-bottom: 4rem;
}

button:hover{
  background-color: rgb(57, 0, 0)
}

.alert{
  height: 80px;
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}